@import '../../../assets/sass/vars'


.basePageLayoutWrapper
  position: relative
  padding: 0 20px
  padding-top: 145px
  width: 100%
  height: auto
  min-height: 100%
  overflow-x: hidden
  background-color: $grey-bg
  background-image: url('../../../assets/img/login-bg.jpg')
  background-size: cover
  background-position: bottom center
  background-repeat: no-repeat

.basePageMainContentWrapper
  max-width: 750px
  margin: 0 auto
  padding: 40px !important
