@import '../../../assets/sass/vars'


.basePageLayoutWrapper
  position: relative
  padding: 0 20px
  width: 100%
  height: auto
  min-height: 100%
  overflow-x: hidden
  background-color: #fff
  &.hide_header
    .basePageMainContentWrapper
      min-height: calc(100vh - 55px)
  &.hide_footer
    .basePageMainContentWrapper
      min-height: calc(100vh - 116px)
  &.hide_header
    &.hide_footer
      .basePageMainContentWrapper
        min-height: 100vh
  &.auth_layout
    background-image: url('../../../assets/img/login-bg-tpl.png')
    background-repeat: repeat
    background-size: 30%
    background-position: center bottom
  &.registerv1_layout
    background-image: url('../../../assets/img/vegetables-bg.png')
    background-size: 60%
    background-position: top right
    background-repeat: no-repeat

    @media only screen and (max-width : 576px)
      background-image: none
      padding: 0

      .basePageMainContentWrapper
        padding-left: 0 !important
        padding-right: 0 !important


.basePageMainContentWrapper
  max-width: 750px
  min-height: calc(100vh - 116px - 55px)
  margin: 0 auto
  padding: 40px !important
  padding-bottom: 60px !important


@media only screen and (max-width : 1199px)
  .basePageLayoutWrapper
    &:not(.hide_header)
      padding-top: 80px

  .basePageMainContentWrapper
    max-width: 750px
    min-height: calc(100vh - 80px - 55px)


@media only screen and (max-width : 576px)
  .basePageMainContentWrapper
    padding: 20px !important
    padding-bottom: 40px !important
    min-height: calc(100vh - 80px - 49px - 17px)


@media only screen and (max-width : 480px)
  .basePageLayoutWrapper
    padding-left: 0
    padding-right: 0
