@import '../../../assets/sass/vars'


.profile-settings-personal
  &-form
    .formGroup_inline
      flex-wrap: nowrap
      .fgLabel
        min-width: 78px
  &-card
    padding: 36px 66px      


@media only screen and (max-width : 992px)
  .profile-settings-personal-card
    padding: 36px 40px


@media only screen and (max-width : 480px)    
  .profile-settings-personal
    &-form
      .formGroup_inline
        flex-wrap: wrap
    &-card
      padding: 25px 30px
    &-form
      &-btn
        width: 100%
