@import '../../assets/sass/vars'

.mobileFooter
  position: fixed
  bottom: 0
  left: 0
  width: 100vw
  z-index: 10
  background: #FFFFFF
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08)
  padding-top: 2em
  &_list
    margin: 0 2em
    padding: 0
    list-style-type: none
    display: flex
    flex-direction: row
    justify-content: space-between
    &_item
      min-width: 50px
      display: flex
      align-items: center
      justify-content: center
      padding-bottom: 15px
      border-bottom: 3px solid transparent
      svg
        max-width: 50px
        height: auto
      path
        fill: #878787

      &.active, &:hover
        border-bottom-color: $steel-blue
        path
          fill: $steel-blue
