@import '../../assets/sass/vars'

.popup
  position: absolute
  z-index: 99
  top: 130%
  right: 10%
  background: #FBFBFB
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08)
  padding: 32px 26px
  width: 500px
  height: auto
  border-top: 1px solid $caribbean-green

  &-loading
    width: auto

  &_cart_empty
    display: flex
    flex-direction: column
    justify-content: start

    span
      text-align: start

    &_2
      display: flex
      justify-content: start
      align-items: center
      margin-top: 10px

      a
        margin: 0


    &_link
      color: #106EE8
      text-decoration-color: #106EE8
      text-decoration: underline
      margin-top: 5px
      &:hover
        color: #106EE8
        text-decoration-color: #106EE8

  &_header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 60px

    &_title
      font-size: 24px
      line-height: 29px
      color: $caribbean-green
      margin: 0 20px 0 0

    &_icons
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      width: 110px
      .sharing_socials
        bottom: unset
        top: 110%

  &_body
    &:not(:last-child)
      border-bottom: 1px solid #C4C4C4
    &:not(:first-child)
      margin-top: 10px

    &_category
      font-weight: bold
      font-size: 18px
      line-height: 40px
      color: #000000
      text-align: left

    &_item
      position: relative
      margin-bottom: 20px
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

      &_checkbox
        width: calc(100% - 40px)

      &.active
        span.checkmark
          background-color: $caribbean-green
          border-color: $caribbean-green
          &::after
            border-color: #FFFFFF
            opacity: 1

      &_trash
        background-color: #FF3D00
        display: inline-flex
        justify-content: center
        align-items: center
        width: 37px
        height: 37px
        border-radius: 50%
        cursor: pointer
        &:hover
          background-color: darken(#FF3D00, 10)

        &.disabled
          pointer-events: none
          opacity: .4

@media print
  body *
    visibility: hidden
  *::-webkit-scrollbar
    display: none
  .popup_header_title, .popup_body, .popup_body *
    visibility: visible
  .popup_body_item_trash
    display: none !important
  .popup
    position: fixed
    top: 0
    left: 0
    width: 100%
  .popup_header
    margin-bottom: 10px

