@import '../../assets/sass/vars'


.checkout-payment-card
  padding: 51px 20px 43px
  background: #FCFCFC
  border: 1px solid #E8E8E8
  border-radius: 20px
  &__title
    display: flex
    align-items: center
    margin-bottom: 47px
