@import '../../assets/sass/_vars'

.shop-list
  margin-bottom: 75px
  padding: 50px 40px 70px

  @media (max-width: 768px)
    &.card-bg
      padding: 0
      box-shadow: none
      border-radius: 0

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 66px

    @media (max-width: 768px)
      margin-bottom: 10px

    &-title
      margin-bottom: 0

    &-buttons
      position: relative
      display: flex
      align-items: center

      &-item
        margin-left: 15px
        padding: 0
        background-color: transparent
        border: none
        cursor: pointer

        svg path
          fill: $black
          transition: 0.2s fill ease

      &-item:hover
        svg path
          fill: $caribbean-green

      &-share
        position: absolute
        bottom: calc(100% + 10px)
        right: 0
        display: flex
        align-items: center
        padding: 10px
        background-color: $white
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08)
        border-radius: 5px

        .share-button
          width: 40px
          height: 40px
          margin: 0 4px

  &__body
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 50px

  &__column
    flex-basis: 45%

    @media (max-width: 768px)
      flex-basis: 100%

  &__item:not(:first-child) .shop-list__item-category
    margin-top: 54px

    @media (max-width: 768px)
      margin-top: 0

  &__item
    @media (max-width: 768px)
      padding: 30px 0
      border-bottom: 1px solid #E8E8E8
  
    &-category
      margin-bottom: 4px
      font-size: 18px
      line-height: 1.2
      font-weight: bold

      @media (max-width: 768px)
        margin-bottom: 14px

    &-ingr
      display: flex
      align-items: flex-end
      justify-content: space-between
      margin-bottom: 20px

      @media (max-width: 768px)
        align-items: center
        margin-bottom: 0

      .customCheckbox
        margin-bottom: 0
        padding-right: 20px
        flex: 1

        @media (max-width: 768px)
          font-size: 16px

        .checkmark
          top: initial
          bottom: 0

          @media (max-width: 768px)
            bottom: 50%
            transform: translateY(50%)

          &::after
            border-color: $white

      .customCheckbox input:checked ~ .checkmark
        background-color: $caribbean-green
        border-color: $caribbean-green

      &-delete
        display: flex
        align-items: center
        justify-content: center
        width: 38px
        height: 38px
        padding: 0
        border: none
        background-color: #FF3D00
        border-radius: 50%
        cursor: pointer
        transition: 0.2s background-color ease

        &:hover
          background-color: darken(#FF3D00, 10%)

  &__footer
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

    @media (max-width: 768px)
      align-items: flex-end

    &-search
      display: flex
      align-items: center
      flex-basis: calc(66% - 167px)

      @media (max-width: 1200px)
        flex-basis: 100%
        margin-bottom: 20px

      @media (max-width: 768px)
        flex-wrap: wrap

      & > div
        width: 100%

    &-quantity
      position: relative
      display: flex
      align-items: center
      flex-basis: calc(34% - 167px)

      @media (max-width: 1200px)
        flex-basis: calc(33.33% - 20px)

      @media (max-width: 768px)
        flex-wrap: wrap
        flex-basis: calc(75% - 10px)

      @media (max-width: 400px)
        flex-basis: calc(60% - 10px)

      .fgLabel
        margin-right: 20px
        margin-bottom: 0
        padding-left: 0
        font-size: 16px
        font-weight: bold

        @media (max-width: 768px)
          margin-bottom: 10px
          flex-basis: 100%
          font-size: 14px

      .fg-input
        flex: 1
        width: 100%
        border-radius: 0

      .fgInvalidMsg
        position: absolute
        top: 100%
        right: 0

        @media (max-width: 768px)
          left: 0
          right: initial
          margin-bottom: 20px

    &-measurement
      flex-basis: 100px

      @media (max-width: 1200px)
        flex-basis: calc(33.33% - 20px)

      @media (max-width: 768px)
        flex-basis: calc(25% - 10px)
      
      @media (max-width: 400px)
        flex-basis: calc(40% - 10px)

      .fgSelectContainer
        width: 100%

        .fgSelectControl
          width: 100%
          padding-right: 7px
          border-radius: 0 !important
          transition: 0.2s border-color ease

          &:hover
            border-color: #4d4d4d !important

          .fgSelectSeprator + div svg path
            fill: #cccccc
            transition: 0.2s fill ease

          .fgSelectSeprator + div:hover svg path
            fill: #999999

        .fgSelectMenu
          width: 100%

    &-btn
      flex-basis: 134px
      width: 100%
      padding: 18px 20px 17px
      font-size: 26px

      @media (max-width: 1200px)
        flex-basis: calc(33.33% - 20px)

      @media (max-width: 768px)
        flex-basis: 100%
        margin-top: 40px
        font-weight: normal

  &__banner
    position: relative
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 0 125px 0 55px
    margin-bottom: 80px

    @media (max-width: 1200px)
      padding: 60px 30px 0

    &-text
      flex-basis: calc(63% - 115px)
      padding: 10px 20px 10px 0

      @media (max-width: 768px)
        padding: 0

      @media (max-width: 1200px)
        flex-basis: 100%
        margin-bottom: 30px
        text-align: center

      &-title
        margin-bottom: 26px
        font-size: 36px
        line-height: 1.2

        @media (max-width: 768px)
          font-size: 24px

      &-desc
        font-size: 18px
        line-height: 1.2
        font-weight: bold

        @media (max-width: 768px)
          font-size: 16px

    &-media
      flex-basis: calc(37% - 115px)
      line-height: 0

      @media (max-width: 1200px)
        flex-basis: 100%
        text-align: center

      & > *
        line-height: initial

      img
        max-width: 100%
        height: auto

    &-btn
      flex-basis: 200px
      margin-left: 30px

      @media (max-width: 1200px)
        position: absolute
        bottom: 45px
        left: 50%
        transform: translateX(-50%)
        margin-left: 0

      @media (max-width: 768px)
        font-weight: normal

    &-btn-skip
      position: absolute
      top: 20px
      right: 20px
      padding: 0
      font-size: 18px
      font-family: Montserrat
      color: #878787
      background-color: transparent
      border: none
      border-bottom: 1px solid
      cursor: pointer
      transition: 0.2s border-color ease

      @media (max-width: 768px)
        top: 15px
        right: 15px

      &:hover
        border-color: transparent

@media print
  body *
    visibility: hidden
  
  ::-webkit-scrollbar
    display: none

  .shop-list__body
    position: fixed
    top: 0
    left: 0

  .shop-list__body *
    visibility: visible

  .shop-list__item
    padding: 20px 0

