@import '../../../assets/sass/vars'


.registerModal
  max-width: 100% !important
  height: 100%
  .dialogHeader
    display: none
  &_wrap
    padding: 0 !important
  &_main
    display: flex
    position: relative
    height: 100%
    padding: 0 !important
  &_logo
    position: absolute !important
    top: 47px !important
    right: 47px !important
    z-index: 11
  &_steps_content
    width: 600px
    max-height: calc(100% - 50px - 37px)
    margin: 50px auto 0
    padding-bottom: 37px
    overflow-y: auto
    overflow-x: hidden
    +scrollStyle(5px)
    &_wrap
      display: flex
      align-items: center
      padding: 0 30px
      padding-top: 140px
      z-index: 1
  .dialogHeader
    padding: 0

.register
  &_title
    display: flex
    align-items: center
    justify-content: center
    font-weight: bold
    font-size: 28px
    line-height: 1.2
    text-align: center

  &_gender_radio
    padding-left: 80px !important
    font-size: 30px
    line-height: 1.2
    font-weight: bold
    .radiomark
      top: 3px
      width: 40px
      height: 40px
      border-width: 12px !important
    .genderIcon
      width: 20px
      height: 50px
      margin-right: 16px

  &_info
    &_form
      margin-top: 180px
      &_submit
        margin-top: 100px
        text-align: center

  &_socialBtns
    padding: 0 70px

  &_goals_list
    .register_goal_btn
      &:not(:last-child)
        margin-bottom: 28px
  &_goal_btn
    height: 68px
    padding-left: 17px
    padding-right: 27px
    justify-content: space-between
    color: #000
    font-size: 20px
    border-color: #000
    border-width: 1px
    line-height: 24px
    font-weight: bold
    transition: background-color .2s ease, border-color .2s ease, color .2s ease
    span
      display: inline-flex
      align-items: center
    &.active, &:hover
      color: #fff
      background-color: $steel-blue
      border-color: $steel-blue
      .register_goal_icon
        fill: #fff
        path
          fill: #fff
        circle
          fill: $steel-blue
          stroke: #fff
  &_goal_icon
    width: 26px
    fill: #000
    +mt(.05s)
    path
      fill: #000
      +mt(.05s)
    circle
      fill: #fff
      +mt(.1s)

  &_check
    &_list
      display: flex
      justify-content: center
      flex-wrap: wrap
      .register_check_item
        display: flex
        width: calc(50% - 12px)
        margin-bottom: 29px
        background-color: #fff
        &:nth-child(2n + 1)
          margin-right: 24px
        input
          display: none
          &:checked ~ .register_check_btn
            color: #fff
            background-color: $steel-blue
            border-color: $steel-blue
    &_btn
      min-height: 62px
      padding: 16px 30px
      border: 1px solid #878787
      border-radius: 5px
      font-weight: 400
      font-size: 20px
      line-height: 24px
      white-space: normal
      background-color: transparent
      color: #000000
      +mt(.2s)
      &.active
        color: #fff
        background-color: $steel-blue
        border-color: $steel-blue
      &:hover
        border-color: $steel-blue
        color: $steel-blue

  &_eating
    &_list
      display: flex
      align-items: flex-start
      justify-content: center
      flex-wrap: wrap
      .register_eating_item
        margin-right: 19px
        margin-bottom: 24px
    &_label
      cursor: pointer
      input
        display: none
        &:checked ~ .register_eating_item
          font-weight: bold
          color: #fff
          border-color: $seashell-pink
          background-color: $seashell-pink
    &_item
      display: inline-flex
      align-items: center
      justify-content: space-between
      height: 42px
      padding: 0 10px
      border: 1px solid $caribbean-green
      background-color: #fff
      border-radius: 5px
      font-size: 18px
      line-height: 18px
      font-weight: 400
      color: #000
      span
        display: inline-flex
        align-items: center
      &_icon
        margin-right: 10px
        height: 24px
      &:hover
        box-shadow: 3px 4px 26px -9px $caribbean-green
      &.active
        font-weight: bold
        color: #fff
        border-color: $steel-blue
        background-color: $steel-blue
  &_info_fg
    display: flex
    flex-wrap: nowrap !important
    max-width: 350px
    margin: 0 auto !important
    & ~ .fgInvalidMsg
      max-width: 350px
      margin-left: auto
      margin-right: auto
    .fg-input
      flex: 0 0 80%
      border: none
      border-bottom: 1px solid #000
      border-radius: 0
    .fgLabel
      flex: 0 0 calc(20% - 10px)
      margin: 0
      margin-left: 10px
      font-size: 18px
      line-height: 22px
  &_join
    &_or
      border-bottom: 1px dashed #106EE8
      text-align: center
      margin-bottom: 40px
      &_txt
        position: relative
        top: 20px
        z-index: 1
        display: inline-block
        padding: 10px 36px
        background-color: #fff

.registerBtn
  max-width: 357px
  margin: 0 auto

.register-back-icon
  position: relative
  cursor: pointer
  width: 24px
  height: 24px
  path
    width: 24px
    height: 24px
    fill: #CDCDCD
    +mt(.2s)
    &:hover
      fill: darken(#CDCDCD, 10%)


@media only screen and (min-width : 1200px)
  #register_title_final_welcome
    font-size: 32px
    line-height: 1.4

@media only screen and (max-width : 1200px)
  .register
    &_title
      font-size: 24px
      line-height: 36px
    &_gender_radio
      padding-left: 55px !important
      font-size: 30px
      line-height: 34px !important
      .radiomark
        width: 34px
        height: 34px
        border-width: 7px !important
      .genderIcon
        width: 15px
        height: 30px
        margin-right: 8px
    &_info
      &_form
        margin-top: 130px
        &_submit
          margin-top: 150px

  .registerModal
    overflow: hidden
    height: 100%
    &_wrap
      align-items: flex-end
    &_steps_wrap
      background-position: calc(50% + 31px) 0 !important
    &_main
      flex-wrap: wrap
      justify-content: center
      padding-right: 0 !important
    &_logo
      display: none !important
    &_steps_content
      margin: 0
      margin-top: 15px
      padding: 20px
      max-height: unset
      max-width: 600px
      margin: 0 auto
      &_wrap
        display: block
        flex: 0 0 100%
        max-height: calc(100% - 220px)
        padding-top: 0


@media only screen and (max-width : 768px)
  .registerModal
    &_wrap
      padding: 0 !important
    &_steps_content
      padding-top: 0
      width: auto

  .register
    &_eating
      &_list
        .register_eating_item
          display: flex
          width: calc(50% - 6px)
          margin: 0
          margin-bottom: 11px
          height: 59px
          justify-content: center
          &:nth-child(2n + 1)
            margin-right: 12px


@media only screen and (max-width : 576px)
  .register
    &_check
      &_list
        .register_check_item
          width: 100%
          margin-bottom: 11px
          &:nth-child(2n + 1)
            margin-right: 0


@media only screen and (max-width : 480px)
  .register
    &_gender_radio
      &.customRadio
        margin-bottom: 15px !important
    &_info
      &_form
        margin-top: 50px
        &_submit
          margin-top: 50px
    &_eating
      &_list
        .register_eating_item
          width: 100%
          &:nth-child(2n + 1)
            margin-right: 0
    
