@import '../../../assets/sass/vars'


.registerModal
  max-width: 100% !important
  height: 100%
  .dialogHeader
    display: none
  &_wrap
    padding: 0 !important
  &_main
    display: flex
    position: relative
    height: 100%
    padding: 0 !important
  &_logo
    position: absolute !important
    top: 47px !important
    right: 47px !important
    z-index: 11
  &_steps_content
    width: 600px
    max-height: calc(100% - 50px - 37px)
    margin: 50px auto 0
    padding-bottom: 37px
    overflow-y: auto
    overflow-x: hidden
    +scrollStyle(5px)
    &_wrap
      display: flex
      align-items: center
      padding: 140px 30px 60px
      overflow-y: auto
      z-index: 1
  .dialogHeader
    padding: 0


@media only screen and (max-width : 1200px)
  .registerModal
    overflow: hidden
    height: 100%
    &_wrap
      align-items: flex-end
    &_steps_wrap
      background-position: calc(50% + 31px) 0 !important
    &_main
      flex-wrap: wrap
      justify-content: center
      padding-right: 0 !important
    &_logo
      display: none !important
    &_steps_content
      margin: 0
      margin-top: 15px
      padding: 20px
      max-height: unset
      max-width: 600px
      margin: 0 auto
      &_wrap
        display: block
        flex: 0 0 100%
        max-height: calc(100% - 220px)
        padding-top: 0

@media only screen and (max-width : 768px)
  .registerModal
    &_wrap
      padding: 0 !important
    &_steps_content
      padding-top: 0
      width: auto
