@import '../../assets/sass/vars'

.how-exercise-plan-works
  &-sect
    font-size: 16px
    .container
      padding: 40px 0 50px
      background-color: $steel-blue
      color: #fff
      h5, h4
        color: #fff
      .row
        padding: 0 55px
        justify-content: space-between
  &-col
    flex: 0 0 20%
    max-width: 20%
  &-icon
    height: auto
    width: 70px
    &-wrap
      display: flex
      align-items: flex-end
      justify-content: flex-start
      height: 100px
      padding-left: 35px
