@import '../../../assets/sass/_vars'

.saved-recipes
  &__head
    margin-bottom: 150px

    &-tabs
      display: flex
      align-items: center
      margin: 0
      padding-left: 0
      list-style-type: none

      &-item
        position: relative
        margin-right: 30px
        padding: 3px 30px 3px 0
        font-size: 32px
        line-height: 1.2
        font-weight: bold
        color: #000000
        border-right: 1px solid #000
        text-decoration: none
        
        &::before
          content: ''
          position: absolute
          bottom: -30px
          left: 0
          width: calc(100% - 30px)
          height: 6px
          background-color: #106EE8
          opacity: 0
          transition: 0.2s opacity ease

        &.active::before,
        &:hover::before
          opacity: 1

      li:last-child
        .saved-recipes__head-tabs-item
          border-right: none

  &__banner
    margin-bottom: 110px
    padding: 40px 60px
    text-align: center
    font-size: 34px
    line-height: 1.5
    font-weight: bold
    color: #000000
    background-color: $mint-green

    p
      margin: 0

  &__list
    &-item
      position: relative
      padding-right: 46px
      padding-bottom: 35px
      margin-bottom: 78px
      border-bottom: 1px solid #BAC2D2

      &-media
        position: relative
        flex-basis: 27.5%
        border-radius: 27px
        overflow: hidden
        line-height: 0

        & > *
          line-height: initial

        img
          max-width: 100%
          height: auto

        &-touch
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

        &-heart
          position: absolute
          top: 18px
          left: 25px

      &-content
        &-head
          display: flex
          justify-content: space-between
          margin-bottom: 20px

          &-item
            width: calc(50% - 25px)

          &-title
            margin-bottom: 10px
            font-size: 26px
            line-height: 1.2
            font-weight: bold
          
          &-description
            margin-bottom: 10px
            padding-bottom: 14px
            font-size: 18px
            line-height: 1.2
            border-bottom: 1px solid #106EE8

          &-datas
            display: flex
            align-items: center

            &-block
              font-size: 16px
              line-height: 1.2

              &:not(:first-child)::before
                content: ''
                display: inline-block
                vertical-align: middle
                width: 8px
                height: 8px
                border-radius: 50%
                background-color: $mint-green
                margin: 0 8px

          &-grams
            position: relative
            display: flex
            justify-content: space-between
            margin-bottom: 4px
            text-transform: capitalize

            &::before
              content: ''
              position: absolute
              left: 0
              bottom: 6px
              width: 100%
              height: 1px
              border-top: 1px dotted #000

            &-block
              position: relative
              padding: 0 6px
              background-color: #fff
      
        &-description
          margin-bottom: 45px
          font-size: 18px
          line-height: 1.2

        &-buttons
          display: flex
          align-items: center

        &-choose-date
          position: relative

          &-list
            position: absolute
            top: calc(100% + 16px)
            left: 50%
            transform: translateX(-50%)
            padding: 40px 15px
            text-align: center
            background: $white
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
            z-index: 2

            &::before
              content: ''
              position: absolute
              top: -8px
              left: 50%
              transform: translateX(-50%) rotate(45deg)
              width: 16px
              height: 16px
              background: $white
            
            &-close
              position: absolute
              top: 12px
              right: 12px
              width: 25px
              height: 25px
              padding: 0
              display: flex
              align-items: center
              justify-content: center
              background-color: #F2F2F2
              border: none
              border-radius: 50%
              cursor: pointer
              transition: 0.2s background-color ease

              &:hover
                background-color: darken(#F2F2F2, 10%)

        &-calendar
          margin-bottom: 10px

          .DayPicker-Caption
            text-align: center

          .DayPicker-NavButton--prev
            right: initial
            left: 1.5em
            background-image: url('../../../assets/img/icons/arrow-left-calendar-icon.svg')

          .DayPicker-NavButton--next
            background-image: url('../../../assets/img/icons/arrow-right-calendar-icon.svg')
          
          .DayPicker-Weekday
            font-size: 12px

          .DayPicker-Day
            padding: 0.4em 0.5em
            margin: 7px

          .DayPicker-Day--today
            color: $white
            background-color: $steel-blue
        
        &-meal
          position: relative
          margin-left: 10px

          &-list
            position: absolute
            top: calc(100% + 16px)
            left: 50%
            transform: translateX(-50%)
            width: 475px
            text-align: center
            padding: 40px 15px
            background: $white
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
            border-radius: 5px
            z-index: 2

            &::before
              content: ''
              position: absolute
              top: -8px
              left: 50%
              transform: translateX(-50%) rotate(45deg)
              width: 16px
              height: 16px
              background: $white

            &-wrap
              display: grid
              grid-template-columns: repeat(4, 1fr)
              margin-bottom: 20px
            
            &-block
              padding: 16px 10px
              background-color: transparent
              border: none
              border-radius: 5px
              transition: 0.2s background-color, box-shadow ease
              cursor: pointer
              
              &-media
                display: grid
                place-items: center
                margin-bottom: 10px
                min-height: 48px

                svg path
                  transition: 0.2s fill ease

              &-text
                font-size: 18px
                line-height: 1.2
                color: #000
                transition: 0.2s color ease

              &:hover
                background-color: $caribbean-green
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25)

                .saved-recipes__list-item-content-meal-list-block-media
                  svg path
                    fill: $white
                
                .saved-recipes__list-item-content-meal-list-block-text
                  color: $white

            &-close
              position: absolute
              top: 10px
              right: 15px
              width: 25px
              height: 25px
              padding: 0
              display: flex
              align-items: center
              justify-content: center
              background-color: #F2F2F2
              border: none
              border-radius: 50%
              cursor: pointer
              transition: 0.2s background-color ease

              &:hover
                background-color: darken(#F2F2F2, 10%)

      &-controls
        position: relative
        display: flex
        flex-direction: column
        justify-content: flex-end
        height: 100%

        &-delete
          position: absolute
          top: 0
          right: 0
          display: flex
          align-items: center
          justify-content: center
          width: 35px
          height: 35px
          border: none
          background-color: #F27C7C
          border-radius: 50%
          cursor: pointer
          transition: 0.2s background-color ease

          &:hover
            background-color: darken(#F27C7C, 10%)

        &-button
          margin-top: 20px

.weekly-menu-button
  text-align: right



@media only screen and (max-width: 1199px)
  .saved-recipes
    &__list-item
      &-controls
        position: initial

        &-delete
          top: -40px

    &__head
      &-tabs
        margin-bottom: 60px

      .page-create-btn
        padding: 22px 96px 22px 19px
        padding-left: 19px
        
        &::before
          left: initial
          right: 0


@media only screen and (max-width: 991px)
  .saved-recipes
    &__head
      margin-bottom: 70px

      &-tabs
        &-item
          padding-right: 0
          font-size: 18px
          border-right: none

          &::before
            width: 100%
            bottom: -15px

      .page-create-btn
        padding: 22px 183px 22px 19px
        font-size: 18px

        &::before
          top: initial
          bottom: -22px
          right: 13px

    &__banner
      margin-bottom: 60px
      padding: 30px 10px
      font-size: 18px

    &__list
      &-item
        margin-bottom: 70px
        padding: 25px 15px
        background: #FFFFFF
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08)
        border-radius: 20px
        border-bottom: none

        &::before
          content: ''
          width: 56px
          height: 56px
          position: absolute
          top: 0
          right: 12px
          transform: translateY(-50%)
          background-color: $white
          border-radius: 50%

        &-media
          margin-bottom: 18px
          flex-basis: 100%

          &-touch
            display: none

        &-content
          &-head
            flex-wrap: wrap

            &-item
              display: flex
              flex-wrap: wrap
              justify-content: space-between
              width: 100%

              &:not(:first-child)
                margin-top: 20px

            &-title
              width: 100%
              font-size: 14px

            &-description
              margin-bottom: 0
              padding-bottom: 0
              font-size: 14px
              border-bottom: none

            &-datas-block
              font-size: 14px

            &-grams
              width: 100%
              font-size: 14px

              &-block
                padding: 0
          
          &-description
            font-size: 14px

          &-buttons
            justify-content: space-between

          &-choose-date
            flex-basis: calc(50% - 20px)

            .bttn
              width: 100%

          &-meal
            flex-basis: calc(50% - 20px)

            .bttn
              width: 100%

        &-controls
          flex-direction: row
          justify-content: space-between

          &-button
            flex-basis: calc(50% - 20px)

          &-delete
            top: 0
            right: 22px
            transform: translateY(-50%)

.weekly-menu-button
  text-align: left

@media only screen and (max-width: 767px)
  .saved-recipes__list
    &-item
      &-content
        &-buttons
          flex-wrap: wrap

        &-choose-date
          flex-basis: 100%

        &-meal
          flex-basis: 100%
          margin-top: 20px
          margin-left: 0

      &-controls
        flex-wrap: wrap

        &-button
          flex-basis: 100%


@media only screen and (max-width: 440px)
  .saved-recipes__head
    .page-create-btn
      width: 100%
      padding: 22px 109px 22px 19px
