@import '../../../assets/sass/vars'


.register_v2tpl
  &_title
    font-size: 36px
    font-weight: bold
    line-height: 44px
    color: #000
  &_goals_list
    .register_v2tpl_goal_btn
      &:not(:last-child)
        margin-bottom: 29px
  &_goal_btn
    padding-left: 17px
    padding-right: 27px
    justify-content: space-between
    font-size: 18px
    line-height: 22px
    font-weight: bold
    span
      display: inline-flex
      align-items: center
  &_goal_icon
    margin-right: 7px
    width: 26px
