@import '../../assets/sass/vars'


.after-signup-tpl
  line-height: 1.2
  @media only screen and (max-width : 992px)
    padding-bottom: 27px

.after-signup-header-sect
  position: relative
  padding: 68px 0 60px !important
  background-color: $steel-blue
  color: #fff
  @media only screen and (max-width : 992px)
    padding: 20px 0 32px !important
  @media only screen and (min-width : 1200px)
    &::before
      content: ''
      position: absolute
      bottom: 0
      right: 0
      width: 0
      height: 0
      border-style: solid
      border-width: 0 0 70vw 45vw
      border-color: transparent transparent #fff transparent
    .after-signup-video-frame
      position: absolute
      width: 50%
      top: 50%
      right: 0
      transform: translateY(-50%)
      border-radius: 20px
  .row
    position: relative
  .after-signup-header-chart-col
    position: static
    display: flex
    align-items: center
    flex-wrap: wrap
    @media only screen and (min-width : 1200px)
      .app-review-single-item
        width: 580px
        right: 60px
        bottom: 4px
    .app-review-single-item
      position: relative
  .after-signup-video-frame
    border-radius: 20px
    height: calc((100vw - 30px) * 0.57)
    @media (min-width: 576px)
      height: calc((540px - 30px) * 0.57)
    @media (min-width: 768px)
      height: calc((750px - 30px) * 0.57)
    @media (min-width: 992px)
      height: calc((970px - 30px) * 0.57)
    @media (min-width: 1200px)
      height: calc((1170px - 30px) / 2 * 0.57)
    @media (min-width: 1300px)
      height: calc((1200px - 30px) / 2 * 0.57)

.after-signup-header-btn-col
  position: relative
  text-align: center
  .after-signup-header-arrow
    position: absolute
    bottom: -40px
    right: -40px
    height: 170px
    @media only screen and (max-width : 1200px)
      right: 40px
      bottom: -50px
    @media only screen and (max-width : 992px)
      right: -40px
    @media only screen and (max-width : 768px)
      display: none

.after-signup-header-chart-col_content
  display: block
  width: 100%
  @media only screen and (min-width : 1200px)
    min-height: 220px

.after-signup-header-content-col
  position: relative
  text-align: center

.after-signup-intro-sect
  padding: 36px 0 74px
  @media only screen and (max-width : 992px)
    padding: 35px 0
  .after-signup-image-button
    img
      width: unset
    @media only screen and (min-width : 992px)
      margin-top: -50px
      img
        width: 100%

.after-signup-intro-content-btn
  position: relative
  .after-signup-start-today-arrow
    bottom: -50px
    right: 60px
    height: 180px
    @media only screen and (max-width : 1200px)
      right: -100px
    @media only screen and (max-width : 992px)
      right: -50px
    @media only screen and (max-width : 768px)
      display: none

.after-signup-intro-content-col
  position: relative
  @media only screen and (min-width : 992px)
    padding-right: 100px
  .after-signup-intro-arrow
    position: absolute
    right: -50px
    top: 0
    @media only screen and (max-width : 992px)
      display: none

.after-signup-reviews-sect
  position: relative
  min-height: 710px
  padding: 90px 0 102px
  color: #fff
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $steel-blue
  @media only screen and (min-width : 992px)
    background-image: url('../../assets/img/dream-body-bg.png')
  @media only screen and (max-width : 992px)
    padding: 39px 0 30px
  .app-review-rate-single
    @media only screen and (max-width : 992px)
      justify-content: center
      text-align: center
      &__author
        flex: 0 0 100%
        margin-left: 0
      .rate-stars_list
        flex: 0 0 100%
        order: 2
        margin-top: 12px
  @media only screen and (min-width : 992px)
    .row
      position: relative
    .after-signup-image-button
      position: absolute
      top: 0
      right: 0
      display: flex
      align-items: flex-start
      max-width: calc(50% - 80px)
      height: 600px
      &-col
        position: static

.after-signup-reviews-btn-col
  position: relative
  .after-signup-start-today-arrow
    top: 50%
    transform: translateY(-59%)
    @media only screen and (max-width : 992px)
      display: none

.after-signup-expect-sect
  position: relative
  padding: 81px 0 35px
  @media only screen and (min-width : 992px)
    .row
      position: relative
      .after-signup-expect-image-col
        position: static
        min-height: 350px
        .after-signup-image-button
          position: absolute
          top: 0
          left: 0
          max-width: calc(25% - 30px)
  @media only screen and (max-width : 992px)
    padding: 37px 0 25px

.after-signup-video-frame
  .vp-video-wrapper
    border-radius: 27px

.after-signup-expect-sect
  .after-signup-video-frame
    height: calc(100vw * 0.5)

.after-signup-faq-sect
  padding-bottom: 80px

.after-signup-start-today-sect
  position: relative
  padding: 35px 0 300px
  background-image: url('../../assets/img/plan-today-bg.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  .app-partners-list__wrap
    margin-top: 58px
  .checkout-reserved-block
    position: absolute
    width: 100%
    bottom: 0
    left: 0
  @media (max-width: 1200px)
    .after-signup-start-today-arrow
      display: none
  @media only screen and (max-width : 992px)
    padding-top: 25px
    .app-partners-list__wrap
      margin-top: 50px

.after-signup-plan-select-sect
  padding-bottom: 0
  .checkout-reserved-top-block
    margin: -340px auto 38px
    @media only screen and (max-width : 992px)
      margin-bottom: 27px
  
.after-signup-start-today-arrow
  position: absolute

.after-signup-start-today-btn-col
  position: relative
  .after-signup-start-today-arrow
    right: -35%
    top: -70px
    @media only screen and (max-width : 992px)
      display: none

.after-signup-image-button
  display: block
  width: 100%
  padding: 0
  border: none
  background-color: transparent
  cursor: pointer

.checkout_tariff_confirm_descr
  text-align: center
  font-weight: 400
  font-size: 22px
  line-height: 30px
  color: #878787
