@import '../../assets/sass/vars'


.mainHeader
  position: relative
  margin: 0 auto
  background-color: #fff
  // z-index: 1
  .row
    padding: 30px 0
    align-items: center
    // &::before
    //   content: ''
    //   position: absolute
    //   top: -370px
    //   left: -330px
    //   width: 632px
    //   height: 632px
    //   border-radius: 100%
    //   background-color: $steel-blue
    //   z-index: -1
  &_logo-mobile
    display: none
    svg
      max-width: 100%
      height: auto
  &_menuList
    display: inline-flex
    align-items: center
    &_item
      display: inline-block
      font-size: 18px
      line-height: 32px
      font-weight: 400
      cursor: pointer
      color: $black
      font-family: $base_font
      text-decoration: none
      background-color: transparent
      border: none
      border-bottom: 2px solid transparent
      &:hover, &_active
        color: $steel-blue
        border-bottom-color: $steel-blue
      &:not(:last-child)
        margin-right: 60px

      &_icon
        width: 30px
        height: 30px
        path
          fill: #7C7C7C
  &_page-title
    font-size: 18px
    font-weight: bold
  &_back-button
    display: none
    padding: 0
    border: none
    background-color: transparent
    cursor: pointer

.menu-toggle-icon
  width: 29px
  fill: $steel-blue
  cursor: pointer
  path
    fill: $steel-blue

.mobile-auth-btn
  padding: 6.5px 20px
  font-size: 12px
  line-height: 15px
  font-weight: bold
  border-width: 1px

.header-controls
  display: none
  justify-content: flex-end
  align-items: center

@media only screen and (max-width : 1199px)
  .mainHeader
    position: fixed
    top: 0
    left: 0
    width: 100vw
    background: #ffffff
    z-index: 500
    .row
      padding: 10px 0
      height: 60px
    .mainHeader_logo-mobile
      display: block
    .mainHeader_back-button
      display: block
    .mainHeader_logo
      display: none
    &_menuList
      display: none

  .header-controls
    display: flex
