@import '../../assets/sass/vars'


.mainHeader
  margin: 0 auto
  overflow: hidden
  .row
    padding: 60px 0
    align-items: center
  &_logo
    position: relative
    display: inline-block
    width: 155px
    height: 45px
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    background-image: url('https://fitstg.s3.eu-central-1.amazonaws.com/logo-header.svg')
    // &::before
    //   content: ''
    //   position: absolute
    //   top: -370px
    //   left: -330px
    //   width: 632px
    //   height: 632px
    //   border-radius: 100%
    //   background-color: $steel-blue
    //   z-index: -1
  &_menuList
    display: inline-flex
    align-items: center
    &_item
      display: inline-block
      font-size: 18px
      line-height: 22px
      font-weight: 400
      cursor: pointer
      color: $black
      text-decoration: none
      border-bottom: 2px solid transparent
      &:hover, &_active
        color: $caribbean-green
        border-bottom-color: $caribbean-green
      &:not(:last-child)
        margin-right: 60px

.menu-toggle-icon
  width: 29px
  fill: $caribbean-green
  cursor: pointer

.mobile-auth-btn
  padding: 6.5px 20px
  font-size: 12px
  line-height: 15px
  font-weight: bold
  border-width: 1px

.header-controls
  display: none
  justify-content: flex-end
  align-items: center


@media only screen and (max-width : 992px)
  .mainHeader
    position: fixed
    top: 0
    left: 0
    width: 100vw
    background: #ffffff
    z-index: 500
    .row
      padding: 25px 0
      height: 80px
    &_logo
      display: none
    &_menuList
      display: none

  .header-controls
    display: flex
