@import '../../assets/sass/vars'

.referral
  .row
    align-items: center

  &__text-content
    text-align: center

    &-preparation
      margin-bottom: 30px

  &__title
    margin-top: 0
    margin-bottom: 40px

  &__subtitle
    margin-bottom: 5px

  &__bonus
    margin-bottom: 50px
    font-size: 32px
    line-height: 1.2
    color: $steel-blue

  &__description
    margin-bottom: 30px
    font-size: 16px
    line-height: 1.67

  &__invite-link
    position: relative
    margin-bottom: 44px

  &__container-input
    position: relative

  &__input.fg-input
    border-radius: 15px

  &__container-media
    position: relative

    &::before
      content: ''
      position: absolute
      top: 0
      left: 70px
      width: 300%
      height: calc(100% - 60px)
      background: $steel-blue

    &::after
      content: ''
      position: absolute
      top: 60px
      left: 0px
      width: 280px
      height: 400px
      background-image: radial-gradient(#e0e0e0 20%, transparent 20%)
      background-position: 0 0
      background-size: 30px 30px

  &__media
    position: relative
    z-index: 2

  &__socials
    margin-top: 55px
    margin-bottom: 50px

  &__invited
    margin-top: 50px

    &-title
      margin-bottom: 60px

    &-list
      margin-bottom: 50px
      text-align: center

      @media (max-width: 992px)
        margin: 0 -30px 50px

      &-head
        display: flex
        align-items: center
        padding: 40px 80px
        background-color: #F1F1F1
        font-size: 22px
        font-weight: bold

        @media (max-width: 992px)
          padding: 30px 20px
          font-size: 16px

      &-row
        display: flex
        align-items: center
        margin: 0 auto
        padding: 38px 80px

        @media (max-width: 992px)
          padding: 20px

        .referral__invited-list-item:first-child
          padding-bottom: 10px
          overflow-x: auto

        &:not(:last-child)
          border-bottom: 1px solid #D2D2D2
      
      &-item
        width: 33.33%
        overflow: hidden

        &:first-child
          text-align: left

        &:nth-child(2)
          text-align: center

        &:last-child
          text-align: right

      &-email
        color: $black
        text-decoration: none
        border-bottom: 1px solid
        transition: 0.2s border-bottom ease

        @media (max-width: 992px)
          font-size: 14px

        &:hover
          border-bottom: 1px solid transparent

      &-user-info
        display: flex
        align-items: center
        justify-content: center

        @media (max-width: 992px)
          flex-wrap: wrap

        &-media
          width: 70px
          height: 70px
          border-radius: 50%
          overflow: hidden
          background-size: contain

          @media (max-width: 992px)
            width: 56px
            height: 56px
            margin-bottom: 10px

        &-desc
          padding-left: 38px
          text-align: left

          @media (max-width: 992px)
            width: 100%
            padding-left: 0
            text-align: center

          &-name
            margin-bottom: 6px
            width: 220px
            font-size: 18px
            line-height: 1.2
            font-weight: bold

            @media (max-width: 992px)
              width: 100%
              margin-bottom: 3px
              font-size: 14px

          &-date
            margin-bottom: 4px
            font-size: 16px

          &-status
            font-size: 16px
            line-height: 1.2
            color: #C4C4C4

      &-paid
        font-size: 20px
        font-weight: bold
        color: #FF3D00

        @media (max-width: 992px)
          font-size: 14px

        &.active
          color: $caribbean-green

@media only screen and (max-width: 767px)
  .referral
    position: relative

    .row
      align-items: flex-start

    &__text-content
      text-align: left

      &-preparation
        min-height: 515px

    &__title
      margin-bottom: 40px
      font-size: 28px

    &__subtitle
      margin-bottom: 24px
      font-size: 18px

    &__bonus
      margin-bottom: 40px
      font-size: 18px

    &__description
      font-size: 14px

    &__invite-link
      width: 185%
      margin-top: 20px

    &__separator
      width: 185%

    &__container-input
      width: 185%

    &-text
      padding: 0 20px
      font-size: 18px

    &__container-media
      min-height: 475px

      &::before
        top: -20px
        height: calc(100% + 40px)

      &::after
        width: 115px
        height: 166px
        top: -30px
        left: 0
        background-size: 22px 22px

    &__media
      max-width: 450px

    &__input.fg-input:placeholder-shown
      &::placeholder
        font-size: 14px

    &__invite-button
      &-text
        font-size: 14px

    &__socials
      width: 190%

      .share-button
        margin: 0 5px

@media only screen and (max-width: 567px)
  .referral
    &__container-input
      max-width: initial
