@import '../../assets/sass/vars'

.dietExpectation
  &__chart
    background-color: #fff
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15)
    border-radius: 20px
    &_wrap
      position: relative
      &.chart_raise
        .dietExpectation__chart_standart-plan-label
          top: 10px
          left: 10px
          right: unset
        .dietExpectation__chart_fitlope-plan-label
          bottom: 40%
          right: -10px
          left: unset
    &_standart-plan-label
      position: absolute
      top: 10px
      right: 10px
      font-weight: 400
      font-size: 14px
      line-height: 16px
      color: #BAC2D2
    &_fitlope-plan-label
      position: absolute
      bottom: 10px
      left: -10px
      max-width: 150px
      font-weight: bold
      font-size: 16px
      line-height: 17px
      color: #000000
      &.color_blue
        .text-steel-blue
          color: #fff !important
