@import '../../assets/sass/vars'

.status-step
  max-width: 740px
  padding: 30px 36px 60px 35px
  margin: 10px auto 30px
  box-shadow: 0px 0px 15px rgba(151, 151, 151, 0.25)
  .register_v1
    padding: 36px 34px
  .status-title
    font-size: 65px
    font-weight: 700
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    @media screen and (max-width : 768px)
      font-size: 50px
    p
      color: $orange-red
      text-decoration: underline
  .current-bmi
    font-size: 28px
    font-weight: 700
    margin-top: 49px
    margin-bottom: 0
  .average-value
    font-weight: 400
    font-size: 120px
    color: $steel-blue
  .average-unit
    color: $steel-blue
    font-size: 60px
    font-weight: 400
  .average-title
    font-size: 24px
    font-weight: 800
    span
      color: $steel-blue
  .after-week
    font-size: 18px
    @media screen and (max-width : 768px)
      font-weight: 700
  .healthy-bmi
    font-size: 28px
    line-height: 1.2
  .prediction-text
    font-size: 22px
    font-weight: 400
  .prediction-date
    font-size: 24px
    font-weight: 400
  .measurement
    font-size: 20px
    font-weight: 700
  .calendar-card
    font-size: 40px
    font-weight: 400
    color: $bright-bluish
    .target-weight
      font-size: 80px
      font-weight: 400
      color: $steel-blue
  .status-card
    min-height: 310px
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08)
    border-radius: 10px
    @media screen and (max-width : 768px)
      margin: 10px 0 !important
  .status-summary
    font-size: 50px
    font-size: 400
    @media screen and (max-width : 768px)
      font-size: 34px
  .promise-title
    font-weight: 400
    font-size: 24px
  .promise-name
    font-weight: 800
  .supporters
    background-color: $bright-yellowish
    margin: 10px -36px
  .supporter-img
    width: 100%
    object-fit: scale-down
  .weight-summary
    height: 90%
    margin: auto 0
  .weight-section
    height: 33%
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 0 20px
    font-size: 24px
    font-weight: 400
    .value
      font-size: 50px
      font-weight: 700
    .bmi-name
      font-size: 24px
      font-weight: 400
  .abnormal-weight-active
    background: $orange-red
    color: #FFF
    justify-content: space-between
    span
      font-weight: 700
      font-size: 24px
  .over-weight-active
    border-top-left-radius: inherit
    border-top-right-radius: inherit
  .under-weight-active
    border-bottom-left-radius: inherit
    border-bottom-right-radius: inherit
  .normal-weight-active
    justify-content: space-between
    span
      font-weight: 700
      font-size: 24px
    h1
      color: $steel-blue
  .normal-weight-bg
    background: $light-greyish
  .summary-value
    border: 1px solid black
  .unique-food-img
    max-width: 60%
  .unique-food-title
    font-size: 70px
    font-weight: 400
    margin-top: 10px
    color: $steel-blue
    @media screen and (max-width : 768px)
      font-weight: 900
  .unique-food-text
    width: 60%
    text-align: center
    font-size: 24px
    font-weight: 400
    margin: 0
  .calorie-sub
    font-size: 24px
    font-weight: 400
  .calorie-value
    color: $steel-blue
    font-size: 45px
    font-weight: 400
  .calorie-img
    width: 80%
  .body-exchange-img
    max-width: 100%
  .calorie-unit
    font-size: 24px
    font-weight: 700
  .body-exchange-txt
    font-size: 26px
    font-weight: 400
    width: 70%
    text-align: center
  .get-access-btn
    @media screen and (max-width : 768px)
      width: 100%
