@import '../../assets/sass/vars'


.today-activities
  &__title
    margin-bottom: 50px

    @media (max-width: 768px)
      margin-bottom: 20px

  &__list
    display: flex
    flex-wrap: wrap

  &__item
    position: relative
    width: calc(33.33% - 18px)
    padding: 40px 14px 25px
    text-align: center
    text-decoration: none
    transition: 0.2s box-shadow ease

    @media (max-width: 1200px)
      display: flex
      align-items: center
      width: 100%
      margin-bottom: 10px

    &-media
      display: flex
      align-items: center
      justify-content: center
      margin: 0 auto 22px
      width: 74px
      height: 74px
      border: 1px solid #EDEDED
      border-radius: 13px
      transition: 0.2s box-shadow, 0.2s background-color ease

      @media (max-width: 1200px)
        width: 60px
        height: 60px
        margin: 0

      svg
        max-width: 50px
        max-height: 50px
        
        path,
        rect
          transition: 0.2s fill ease

    &-desc
      color: $black
      transition: 0.2s color ease

      @media (max-width: 1200px)
        flex: 1
        padding-left: 10px

    &-checked-icon
      position: absolute
      top: -12px
      right: -12px
      display: flex
      align-items: center
      justify-content: center
      width: 43px
      height: 43px
      border-radius: 50%
      box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.08) 
      border: 9px solid $white
      background-color: $bright-green
      opacity: 0
      visibility: hidden
      transition: 0.2s opacity ease

      svg,
      img
        width: 14px
        height: auto

  &__item:not(:first-child)
    margin-left: 27px

    @media (max-width: 1200px)
      margin-left: 0

  &__item:hover,
  &__item.active
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08)
    
    .today-activities__item-media
      background-color: $steel-blue
      box-shadow: 0px 4px 4px rgba(187, 187, 187, 0.25)

      svg
        path,
        rect
          fill: $white

    .today-activities__item-desc
      color: $steel-blue

  &__item.active
    .today-activities__item-checked-icon
      opacity: 1
      visibility: visible

