@import '../../assets/sass/vars'


.today-activities-activity
  &-list
    display: flex

    input:checked + .today-activities-activity-card .today-activities-activity-card-checkmark
      opacity: 1

    label:hover, input:checked + .today-activities-activity-card
      color: #fff
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08)
      .today-activities-activity-card
        &-icon
          fill: #fff
          path
            fill: #fff
          &-wrap
            border-color: $caribbean-green
            background-color: $caribbean-green
        &-title
          color: $caribbean-green

  &-card
    flex: 0 0 calc(38% - 47px)
    position: relative
    padding: 39px 12px 25px
    text-align: center
    cursor: pointer
    &:not(:last-child)
      margin-right: 47px

    &-title
      margin-top: 23px
      font-size:
      line-height: 22px
      font-weight: 400
    &-checkmark
      position: absolute
      top: -12px
      right: -12px
      display: inline-block
      width: 43px
      height: 43px
      background-color: $caribbean-green
      background-image: url('../../assets/img/icons/check-icon.svg')
      background-repeat: no-repeat
      background-position: center center
      border-radius: 100%
      box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.08)
      border: 8px solid #fff
      opacity: 0
    &-icon
      width: 80%
      fill: #000
      path
        fill: #000
      &-wrap
        display: inline-flex
        justify-content: center
        align-items: center
        width: 73px
        height: 76px
        border: 1px solid #EDEDED
        border-radius: 13px
        +mt(.2s)
