@import '../../../../assets/sass/vars'


.fgSelectContainer
	display: inline-block
	&_block
		width: 100% !important
	&_style_custom
		.fgSelectControl
			color: #A0A0A0
			font-weight: bold
			border-width: 2px !important
			&:hover
				&:not(.fgSelectControl_readonly):not(.fgSelectControl_disabled)
					border-color: #A0A0A0
			&_has_value
				border-color: #A0A0A0 !important
		.fgSelectSingleValue
			color: #A0A0A0 !important
		.fgSelectIndicatorsContainer
			svg
				fill: #919BB3
			> div
				background-color: #F0F0F0
		
.fgSelectControl
	display: inline-block
	padding: 0 7px
	padding-right: 15px
	color: $black
	font-family: $base-font !important
	font-size: 16px
	cursor: pointer !important
	line-height: 20px
	min-height: 59px !important
	border-radius: 5px !important
	border-width: 1px !important
	border-style: solid !important
	box-shadow: none !important
	+mt(.2s)
	&:hover
		border: 1px solid #E8E8E8 !important
		&:not(.fgSelectControl_readonly):not(.fgSelectControl_disabled)
			border-color: $grey-light
	&_is_invalid
		border-color: $red !important
		.fgSelectIndicatorsContainer
			svg
				fill: $red
	&_focused
		border-color: #A0A0A0
	&_block
		width: 100% !important
	.fgSelectSingleValue
		color: $black !important
	&_readonly
		background-color: #fff !important
		cursor: not-allowed !important
		&.fgSelectControl_has_value
			color: #A0A0A0 !important
			.fgSelectSingleValue
				color: #A0A0A0 !important
	&_disabled
		&:not(.fgSelectControl_readonly)
			border-color: $grey-light !important
			background-color: $grey-bg !important

.fgSelectIndicatorsContainer
	svg
		fill: $black
	> div
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		width: 30px
		height: 30px
		border-radius: 100%

.fgSelectMenu
	&_block
		width: 100% !important

.fgSelectOption
	background-color: #fff !important
	cursor: pointer !important
	text-align: center
	+mt(.2s)
	&:not(.fgSelectOption_disabled)
		&:hover, &.fgSelectOption_selected
			color: #fff
			background-color: $malachite-green !important
		&:hover
			&:not(.fgSelectOption_selected)
				background-color: $mint-green !important
				color: $caribbean-green
		&_selected
			background-color: $malachite-green !important

.fgSelectSeprator
	display: none
