// App colors
$orange-accent: #E15A01
$orange-bg: #FFB280
$black: #202020
$white: #ffffff
$grey-bg: #F5F6F7
$grey-light: #D3D3D3
$grey-medium: #828282
$red: #DC0C0C
$yellow-accent: #F5A623
$spring-green: #69DE67
$success-green: #27AE60

$steel-blue: #0069B4
$sky-blue: #12A9D4
$royal-blue: #4C6584
$lime-green: #57AE18
$orange: #E8951F
$flush-orange: #FF8400
$gold: #F9D400
$beige: #F4F3DF
$honey-dew: #E7F3DF
$black-blue: #282D32
$white-blue: #E9E9E9
$brown: #775043

// Social colors
$fb-color: #3B5998
$tw-color: #55ACEE
$vk-color: #587EA3
$gp-color: #DD4B39
$ok-color: #EE8208

// Shades of Grey
$dim-grey: #282D32
$slate-grey: #8A8A8A
$silver: #9BA1A3
$light-grey: #B3BABD
$ghost-white: #F0F0F0
$white-smoke: #FAFAFA

// Shades of red
$luminous-red: #DE3A1E
$indiang-red: #F44236
$tomato: #F2555B

$highlighted: #F6F7FB

// Fonts
$base_font: 'FiraSans', sans-serif


//Mixins
@mixin mt($time)
    transition: all $time ease

$pageContentPadding: 24px
$layout_max_width: 1170px
$header_height: 80px
$sidebar_width: 260px
$content_padding_left: 29px
$layout_top_padding: 40px
